<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-black text-white">

    <header class="bg-black shadow p-4"> <!-- Header color changed to black -->
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="{{ url_for('home') }}" class="text-2xl font-bold">Media Recommender</a>
            </div>
            <nav class="flex space-x-6">
                <a href="{{ url_for('search') }}" class="{% if request.endpoint == 'search' %}underline{% endif %} text-lg">Explore Media</a>
                <a href="{{ url_for('media') }}" class="{% if request.endpoint == 'media' %}underline{% endif %} text-lg">Find Similar</a>
            </nav>
        </div>
    </header>

    <main class="container mx-auto mt-8">
        {% block content %}{% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

